.about{
    color: #F1C40F;
        font-family: "Marcellus", Sans-serif;
        font-size: 90px;
        font-weight: 800;
        line-height: 70px;
        letter-spacing: -30px;
margin-left: 2rem;
        text-orientation: upright;
        writing-mode: vertical-lr;
    
}
.flex{
    display: flex;
}
.aligncenter{
    align-self: center;
}
.stroke{
    color: #F1C40F00;
        font-family: "Marcellus", Sans-serif;
        font-size: 135px;
        font-weight: 800;
        line-height: 59px;
        letter-spacing: 0px;
        -webkit-text-stroke-width: .3px;
        stroke-width: 0.3px;
        -webkit-text-stroke-color: #F1C40F;
        stroke: #F1C40F;
            margin-top: 3rem;
          
    
}
.stroke2{
    color: #F1C40F00;
    font-family: "Marcellus", Sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0px;
    -webkit-text-stroke-width: .9px;
    stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
    stroke: #F1C40F;
        /* margin-top: 3rem; */

}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.stroke1 {
    color: #F1C40F00;
    font-family: "Marcellus", Sans-serif;
    font-size: 100px;
    font-weight: 100;
    line-height: 59px;
    letter-spacing: 0px;
    -webkit-text-stroke-width: 0.3px;
    stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
    stroke: white;
    margin-top: 3rem;
}

.animate {
    animation: slideInFromLeft 2s ease-out forwards;
}

.pxPadding{
    padding-left: 5rem;
    padding-right: 5rem;
}
.para{
        font-size: 21px;
        margin-top: 1.5rem;
            margin-left: 1rem;
            line-break: auto;
            font-size: 20px;
                margin-top: 1.5rem;
                margin-left: 1rem;
           
                /* width: 720px; */
                color: black;
                text-align: justify;
}
.vl {
    border-left: 6px solid#1118270d;
    height: 410px;
}

.background{
    background-color: #000000;
}
.transform{
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);

}
.withImg{
    display: block;
        max-width: 100%;
        width: initial;
        height: initial;
        background: none;
        opacity: 0;
        border: 0px;
        margin: 0px;
        padding: 0px;
}
.withIm2{
position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;
}
.span1{
box-sizing: border-box; display: block; width: 500px; height: 700px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;
}
.span2{
     box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;
}
.menu-slider-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.menu-slider-wrapper .menu-slider-thumb-wrapper {
    width: 30%;
    padding: 3em 4em;
}
.menu-slider-wrapper .menu-slider-thumb-wrapper .menu-slider-outer {
    width: 100%;
    height: 22em;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 1em;
}.menu-slider-wrapper .menu-slider-thumb-wrapper .menu-slider-thumb {
    list-style-type: none;
    padding: 0;
}.menu-slider-wrapper .menu-slider-thumb-wrapper .menu-slider-thumb .menu-slider-thumb-slide {
    margin: .5em .5em .5em 0;
}.menu-slider-wrapper .menu-slider-gallery-wrapper {
    width: 70%;
    height: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}.menu-slider-wrapper .menu-slider-gallery-wrapper .menu-slider-gallery {
    list-style-type: none;
    padding: 0;
}.active1{   background: #f1c40f;
    transition: .4s;color: #fff;
    font-size: .875em;
    font-weight: 600;
    text-transform: uppercase;
    /* padding: 1.25em 1em; */
    border-radius: 5.625em;
    display: flex;
    align-items: center;
    line-height: 1;
    transition: .4s;
    cursor: pointer;
}
.menu-slider-wrapper .menu-slider-gallery-wrapper .menu-slider-gallery-slide .slide-head {
    color: darkgray;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -.03em;
    text-transform: uppercase;
    padding: 1.38em 1.82em .875em 1.82em;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}.menu-slider-wrapper .menu-slider-gallery-wrapper .menu-slider-gallery-slide .list-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 3em 5em;
}.menu-slider-wrapper .menu-slider-gallery-wrapper .menu-slider-gallery-slide .list-wrapper .list-item {
    width: 33.33%;
    margin: 0 0 2em 0;
    color: #fff;
}.menu-slider-wrapper .menu-slider-thumb-wrapper .menu-slider-thumb .menu-slider-thumb-slide .slide-head {
    color: #fff;
    font-size: .875em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.25em 1em;
    border-radius: 5.625em;
    display: flex;
    align-items: center;
    line-height: 1;
    transition: .4s;
    cursor: pointer;
}
.display{
    display: none;
}
.custom{
height: 317.323px; padding-top: 0px; margin-top: 80px; padding-bottom: 0px; margin-bottom: 0px
}
@keyframes dTjBkB {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
  }
.move-up {
    animation: 5s ease 0s infinite alternate none running dTjBkB;
}

.loEHik {
    position: relative;
    min-height: 700px;
    max-height: 700px;
    overflow: hidden;
    max-width: 95%;
    margin: 40px 0px;
    border-radius: 10px;
}



@media (min-width: 1025px) {
    .cPROjS {
        display: none !important;
    }
}

.cPROjS {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    transition: 0.5s;
    display: flex;
    align-items: flex-end;
    visibility: visible;
    background-image: linear-gradient(to top, rgb(246, 120, 0), rgba(255, 255, 255, 0));
}
.dzPYRF {
    transform: translateY(50px);
    transition: 0.5s;
    width: 100%;
    text-align: center;}
        .ldBwMj {
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 25px;
        }
                .cbaBrK {
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    font-weight: 400;
                    text-transform: uppercase;
                }.chdBfz {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 40px;
                    -webkit-box-align: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-pack: end;
                    justify-content: flex-end;
                    transition: 0.5s;
                    text-align: center;
                    display: flex;
                }
                                .iYtsYf::before {
                                    background-color: rgb(255, 255, 255);
                                }
                
                             .iYtsYf::before,
                                .iYtsYf::after {
                                    content: "";
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    height: 100%;
                                    z-index: 10;
                                }


                                .filters {
                                    position: relative;
                                    margin-bottom: 50px;
                                }.text-center {
                                    text-align: center !important;
                                }.fadeInUp {
                                    -webkit-animation-name: fadeInUp;
                                    animation-name: fadeInUp;
                                }
                                .filters ul {
                                    position: relative;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                    justify-content: center;
                                }
                                .filters li.active {
                                    color: #fff;
                                }.filters li {
                                    border-right: 0px;
                                    padding: 11.5px 30px;
                                    font-size: 16px;
                                    cursor: pointer;
                                    -webkit-transition: .5s ease;
                                    -o-transition: .5s ease;
                                    transition: .5s ease;
                                    font-weight: 700;
                                    border-radius: 25px;
                                    color: #fff;
                                }
                                .active2{
                                       background-image:linear-gradient(0deg, rgb(209, 100, 26) 0%, rgb(192, 40, 42) 100%);
                                
                                }