@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.black-col {
  color: #000;
}

.marquee {
  font-size: 11rem;
  font-weight: bold;
  opacity: 0.1;
  color: #9ca3af; /* Equivalent to Tailwind's text-gray-400 */
  white-space: nowrap;
  line-height: 0.8;
}

.about-heading{
width: 20%;
display: grid;
align-items: center;
}

.animate-marqueeLeft {
  animation: marqueeLeft 150s linear infinite;
}

.animate-marqueeRight {
  animation: marqueeRight 150s linear infinite;
}

@keyframes marqueeLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.marquee-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  overflow: hidden;
}







body {
  /* font-family: Arial, Helvetica, sans-serif !important; */
  font-family: 'Poppins';
}

.gray-col {
  color: #363636;
}

.primary-col {
  color: #e3204a;
}

.gray-bg {
  background: #4b4b4b;
}

.gray-bg7 {
  background: #e7e7e7;
}

.primary-bg {
  background: #e3204a;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.v-scrollbar-style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.v-scrollbar-style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #e3204a;
}

.v-scrollbar-style-2::-webkit-scrollbar {
  width: 6px;
  background-color: #e3204a;
}

.v-scrollbar-style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

.v-scrollbar-style-2menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.v-scrollbar-style-2menu::-webkit-scrollbar {
  border-radius: 10px;
  width: 1px;
  background-color: rgba(227, 32, 74, 0.5);
}

.v-scrollbar-style-2menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(214, 41, 41, 0.5);
}

.v-scrollbar-style-list::-webkit-scrollbar-track {
  border-radius: 24px;
  background-color: #d9d9d9;
}

.v-scrollbar-style-list::-webkit-scrollbar {
  border-radius: 24px;
  width: 6px;
  background-color: #e3204a;
}

.v-scrollbar-style-list::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background-color: #e3204a;
}

.v-scrollbar-style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.v-scrollbar-style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-3::-webkit-scrollbar-thumb {
  background-color: #000;
}

.v-scrollbar-style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.v-scrollbar-style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-4::-webkit-scrollbar-thumb {
  background-color: #000;
  border: 2px solid #555;
}

.v-scrollbar-style-5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.v-scrollbar-style-5::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-5::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.v-scrollbar-style-6::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.v-scrollbar-style-6::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-6::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.v-scrollbar-style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.v-scrollbar-style-7::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #7a99d9),
    color-stop(0.72, #497dbd),
    color-stop(0.86, #1c3a94)
  );
}

.v-scrollbar-style-8::-webkit-scrollbar-track {
  border: 1px solid #000;
  background-color: #f5f5f5;
}

.v-scrollbar-style-8::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-8::-webkit-scrollbar-thumb {
  background-color: #000;
}

.v-scrollbar-style-9::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.v-scrollbar-style-9::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-9::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.v-scrollbar-style-10::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.v-scrollbar-style-10::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-10::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.v-scrollbar-style-11::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.v-scrollbar-style-11::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-11::-webkit-scrollbar-thumb {
  background-color: #36f;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
}

.v-scrollbar-style-12::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #444;
}

.v-scrollbar-style-12::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-12::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d62929;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

.v-scrollbar-style-13::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #ccc;
}

.v-scrollbar-style-13::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-13::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d62929;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

.v-scrollbar-style-14::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #ccc;
}

.v-scrollbar-style-14::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-14::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    #000 0,
    #000 25%,
    transparent 100%,
    #000 75%,
    transparent
  );
}

.v-scrollbar-style-15::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.v-scrollbar-style-15::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-15::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
}

.v-scrollbar-style-16::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.v-scrollbar-style-16::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.v-scrollbar-style-16::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    top,
    #e4f5fc 0,
    #bfe8f9 50%,
    #9fd8ef 51%,
    #2ab0ed 100%
  );
}

* {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

html {
  overflow-x: hidden;
}

body {
  /* font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  overflow-x: hidden;
  margin: 0; */
}

@media (max-width: 1400px) and (min-width: 1300px) and (min-height: 900px) {
  body {
    font-size: 11.485px;
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

.loadjs {
  overflow: hidden;
}

/* img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s;
  display: block;
} */

/* .animate {
  opacity: 0;
} */

a {
  text-decoration: none;
}

/* .img-wrapper {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  padding: 0;
  z-index: 2;
}

.sec__wrapper {
  flex-direction: column;
}

.section {
  padding: 5em 0;
} */

@media (max-width: 991px) {
  .section {
    padding: 3em 0;
  }
}

.container {
  max-width: 100%;
  padding: 0 9%;
}

@media (max-width: 991px) {
  .container {
    padding: 0 5em;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 3em;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 1em;
  }
}

@media (min-width: 1024px) {
  .container.padding-right-0 {
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .container.padding-0 {
    padding: 0;
  }
}

/* .img__observer__one .element {
  overflow: hidden;
  clip-path: inset(0 100% 0 0);
}

.img__observer__one.active .element {
  transition: clip-path 2s;
  transition-delay: 0.5s;
  clip-path: inset(0 0 0 0);
}

.img__observer__two .element {
  overflow: hidden;
  clip-path: inset(0 0 0 100%);
}

.img__observer__two.active .element {
  transition: clip-path 2s;
  transition-delay: 0.75s;
  clip-path: inset(0 0 0 0);
} */

/* .overflow-hidden {
  overflow: hidden;
}

.overflow-hidden .mobile-only {
  display: none;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: 0 auto;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  cursor: none !important;
} */

@media (max-width: 576px) {
  .home footer {
    padding: 3em 0 4em 0;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.clippath-item {
  clip-path: inset(0 100% 0 0);
}

@media (max-width: 576px) {
  .banner-box {
    padding: 0 !important;
  }
}

@media (max-width: 576px) {
  .banner-heading {
    font-size: 22px !important;
  }
}

/* .g-recaptcha {
  display: none;
}

.generic-navigation-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8em;
  height: 3.75em;
}

.generic-navigation-wrapper .swiper-button-next,
.generic-navigation-wrapper .swiper-button-prev {
  width: 3.75em;
  height: 3.75em;
  background: #e3204a;
  border: 1px solid #e3204a;
  border-radius: 100%;
  top: 0;
  margin-top: 0;
  transition: 0.25s;
  z-index: 7;
}

.generic-navigation-wrapper .swiper-button-next img,
.generic-navigation-wrapper .swiper-button-next svg,
.generic-navigation-wrapper .swiper-button-prev img,
.generic-navigation-wrapper .swiper-button-prev svg {
  width: 1.5em;
}

.generic-navigation-wrapper .swiper-button-next::after,
.generic-navigation-wrapper .swiper-button-prev::after {
  display: none;
}

.generic-navigation-wrapper .swiper-button-next:hover,
.generic-navigation-wrapper .swiper-button-prev:hover {
  opacity: 0.8;
  transition: 0.25s;
}

.generic-navigation-wrapper.large-btn .swiper-button-next,
.generic-navigation-wrapper.large-btn .swiper-button-prev {
  width: 5.9375em;
  height: 5.9375em;
  background: 0 0;
  transition: 0.25s;
} */

@media (max-width: 1199px) {
  .generic-navigation-wrapper.large-btn .swiper-button-next,
  .generic-navigation-wrapper.large-btn .swiper-button-prev {
    width: 3em;
    height: 3em;
  }
}

.generic-navigation-wrapper.large-btn .swiper-button-next img,
.generic-navigation-wrapper.large-btn .swiper-button-next svg,
.generic-navigation-wrapper.large-btn .swiper-button-prev img,
.generic-navigation-wrapper.large-btn .swiper-button-prev svg {
  width: 0.4375em;
}

.generic-navigation-wrapper.large-btn .swiper-button-next img path,
.generic-navigation-wrapper.large-btn .swiper-button-next svg path,
.generic-navigation-wrapper.large-btn .swiper-button-prev img path,
.generic-navigation-wrapper.large-btn .swiper-button-prev svg path {
  transition: 0.25s;
}

.generic-navigation-wrapper.large-btn .swiper-button-next:hover,
.generic-navigation-wrapper.large-btn .swiper-button-prev:hover {
  background: #e3204a;
  border-color: transparent;
  transition: 0.25s;
}

.generic-navigation-wrapper.large-btn .swiper-button-next:hover img path,
.generic-navigation-wrapper.large-btn .swiper-button-next:hover svg path,
.generic-navigation-wrapper.large-btn .swiper-button-prev:hover img path,
.generic-navigation-wrapper.large-btn .swiper-button-prev:hover svg path {
  stroke: #fff;
  transition: 0.25s;
}

.generic-navigation-wrapper.large-btn
  .swiper-button-next.swiper-button-disabled,
.generic-navigation-wrapper.large-btn
  .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

@media (max-width: 991px) {
  .generic-navigation-wrapper.large-btn
    .swiper-button-next.swiper-button-disabled,
  .generic-navigation-wrapper.large-btn
    .swiper-button-prev.swiper-button-disabled {
    opacity: 0.5;
    visibility: visible;
  }
}

.generic-navigation-wrapper.white-bg .swiper-button-next,
.generic-navigation-wrapper.white-bg .swiper-button-prev {
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}

@media (max-width: 1199px) {
  .generic-navigation-wrapper.white-bg .swiper-button-next,
  .generic-navigation-wrapper.white-bg .swiper-button-prev {
    width: 3em;
    height: 3em;
  }
}

.generic-navigation-wrapper.white-bg .swiper-button-next svg path,
.generic-navigation-wrapper.white-bg .swiper-button-prev svg path {
  fill: #e3204a;
  transition: 0.25s;
}

.generic-navigation-wrapper.white-bg .swiper-button-next:hover,
.generic-navigation-wrapper.white-bg .swiper-button-prev:hover {
  background: #e3204a;
  border-color: transparent;
  transition: 0.25s;
}

.generic-navigation-wrapper.white-bg .swiper-button-next:hover img path,
.generic-navigation-wrapper.white-bg .swiper-button-next:hover svg path,
.generic-navigation-wrapper.white-bg .swiper-button-prev:hover img path,
.generic-navigation-wrapper.white-bg .swiper-button-prev:hover svg path {
  stroke: #fff;
  fill: #fff;
  transition: 0.25s;
}

.generic-navigation-wrapper .swiper-button-next {
  right: 0;
}

.generic-navigation-wrapper .swiper-button-next img,
.generic-navigation-wrapper .swiper-button-next svg {
  transform: rotate(180deg);
}

.generic-navigation-wrapper .swiper-button-prev {
  left: 0;
}

.p-lr-4 {
  padding: 0 4em;
}

@media (max-width: 1199px) {
  .p-lr-4 {
    padding: 2em;
  }
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll {
  100% {
    transform: translateX(-1672px);
  }
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.f-coloum {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.reversecol {
  margin-top: 0 !important;
}

.reversecol .twocol-row .first-col {
  order: 1;
}

.m-0 {
  margin: 0;
}

@media (max-width: 767px) {
  .mob-none {
    display: none;
  }
}

button {
  font-family: Montserrat, sans-serif;
  -webkit-appearance: button;
  width: auto;
  border: 0;
  box-shadow: none;
  background: 0 0;
  outline: 0;
  background: 0 0;
  border-radius: 0;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.anchor-wrapper {
  display: flex;
}

.d-flex-center {
  justify-content: center;
}

.anchor {
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}

.anchor:hover {
  color: #e3204a;
  transition: 0.4s;
}

.uline {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.uline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.75em;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

.uline.active::before,
.uline:hover::before {
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

.uline.black-col {
  color: #000;
}

.uline.black-col::before {
  background: #000;
}

.uline.yellow-col {
  color: #e3204a;
}

.uline.yellow-col::before {
  background: #e3204a;
}

.w-uline {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.w-uline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3em;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.w-uline.active::before,
.w-uline:hover::before {
  transition: transform 0.5s ease;
  transform: scaleX(1);
}

.w-uline.primary-col {
  color: #e3204a;
}

.w-uline.primary-col::before {
  background: #e3204a;
}

.w-uline.black-col {
  color: #000;
}

.w-uline.black-col::before {
  background: #000;
}

.primary-anchor {
  position: relative;
}

.primary-anchor a,
.primary-anchor button {
  position: relative;
  font-size: 1.125em;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: #fff;
  padding: 0.75em 1.5em;
  background: #e3204a;
  border: 1px solid #e3204a;
  transition: 0.4s;
  z-index: 1;
}

.primary-anchor a::before,
.primary-anchor button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #fff;
  left: auto;
  transition: 0.5s;
  z-index: -1;
}

.primary-anchor a:hover,
.primary-anchor button:hover {
  color: #e3204a;
  transition: 0.4s;
}

.primary-anchor a:hover::before,
.primary-anchor button:hover::before {
  left: 0;
  width: 100%;
}

.primary-anchor.white-col a,
.primary-anchor.white-col button {
  color: #e3204a;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 4px 13px 3px rgba(0, 0, 0, 0.06);
}

.primary-anchor.white-col a::before,
.primary-anchor.white-col button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #e3204a;
  left: auto;
  transition: 0.5s;
  z-index: -1;
}

.primary-anchor.white-col a:hover,
.primary-anchor.white-col button:hover {
  color: #fff;
  transition: 0.4s;
}

.primary-anchor.white-col a:hover::before,
.primary-anchor.white-col button:hover::before {
  left: 0;
  width: 100%;
}

.arrow-anchor {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow-anchor span {
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 0;
  margin: 0 0.75em 0 0;
}

.arrow-anchor .img-wrapper {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #e3204a;
  transition: 0.4s;
}

.arrow-anchor .img-wrapper svg {
  width: 1em;
  transform: rotate(0);
  transition: 0.4s;
}

@media (max-width: 1024px) {
  .arrow-anchor .img-wrapper svg {
    width: 1.5em;
  }
}

.arrow-anchor .img-wrapper svg path {
  transition: 0.4s;
}

.arrow-anchor:hover .img-wrapper {
  background: #fff;
  transition: 0.4s;
  box-shadow: 0 0 9px 6px rgba(136, 136, 136, 0.18);
}

.arrow-anchor:hover .img-wrapper svg {
  transform: rotate(35deg);
  transition: 0.4s;
}

.arrow-anchor:hover .img-wrapper svg path {
  fill: #e3204a;
  transition: 0.4s;
}

.arrow-anchor.black-col span {
  color: #000;
  transition: 0.25s;
}

.arrow-anchor.black-col:hover span {
  color: #e3204a;
  transition: 0.25s;
}

.arrow-anchor.gray-col span {
  color: #363636;
  transition: 0.25s;
}

.arrow-anchor.gray-col:hover span {
  color: #e3204a;
  transition: 0.25s;
}

.arrow-anchor.transparent-bg .img-wrapper {
  background: 0 0;
}

.arrow-anchor.transparent-bg .img-wrapper svg path {
  fill: #e3204a;
}

.arrow-anchor.white-bg .img-wrapper {
  background: #fff;
}

.arrow-anchor.white-bg .img-wrapper svg path {
  fill: #e3204a;
}

.arrow-anchor.small-achor span {
  font-size: 1em;
}

.arrow-anchor.small-achor .img-wrapper {
  width: 2.5em;
  height: 2.5em;
}

.fill-btn {
  background: #e3204a;
  padding: 1.125em 4.8125em;
  color: #fff;
  border-radius: 18.75em;
  border: 1px solid #e3204a;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .fill-btn {
    padding: 1.125em 2em;
  }
}

@media (max-width: 576px) {
  .fill-btn {
    padding: 0.5em 2em;
  }
}

.fill-btn:hover {
  color: #e3204a;
  background: 0 0;
}

h1 {
  font-weight: 400;
  font-size: 5em;
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin: 0 0 0.5em 0;
  line-height: 1;
}

h1.s-font {
  font-size: 3.75em;
  font-weight: 700;
}

@media (max-width: 1199px) {
  h1 {
    font-size: 2.625em;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5em;
  }
}

h2 {
  font-weight: 400;
  font-size: 2.75em;
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin: 0 0 0.5em 0;
  line-height: 1;
}

@media (max-width: 1199px) {
  h2 {
    font-size: 2.25em;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.75em;
  }
}

h2.xs-font {
  font-size: 2em;
}

@media (max-width: 1199px) {
  h2.xs-font {
    font-size: 1.875em;
  }
}

@media (max-width: 767px) {
  h2.xs-font {
    font-size: 1.75em;
  }
}

@media (max-width: 375px) {
  h2.xs-font {
    font-size: 1.2em;
  }
}

h2.s-font {
  font-size: 3em;
}

@media (max-width: 1199px) {
  h2.s-font {
    font-size: 2.25em;
  }
}

@media (max-width: 767px) {
  h2.s-font {
    font-size: 1.75em;
  }
}

@media (max-width: 375px) {
  h2.s-font {
    font-size: 1.2em;
  }
}

h2.l-font {
  font-size: 4.375em;
  font-family: Marcellus, sans-serif;
}

@media (max-width: 1199px) {
  h2.l-font {
    font-size: 2.25em;
  }
}

@media (max-width: 767px) {
  h2.l-font {
    font-size: 1.75em;
  }
}

h2.xl-font {
  font-size: 5em;
  font-weight: 800;
}

@media (max-width: 1199px) {
  h2.xl-font {
    font-size: 2.25em;
  }
}

@media (max-width: 767px) {
  h2.xl-font {
    font-size: 1.75em;
  }
}

h3 {
  font-size: 1.875em;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin: 0 0 0.5em 0;
  line-height: 1;
}

@media (min-width: 1100px) {
  h3.s-font {
    font-size: 2.25em;
  }
}

@media (max-width: 1199px) {
  h3 {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.625em;
  }
}

h4 {
  font-size: 1.3125em;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin: 0 0 0.5em 0;
}

h4 .s-font {
  font-size: 1.5em;
}

h4.l-font {
  font-size: 1.75em;
  font-weight: 700;
}

@media (max-width: 767px) {
  h4.l-font {
    font-size: 1em;
  }
}

h5 {
  font-size: 1.25em;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin: 0 0 0.5em 0;
}

@media (max-width: 767px) {
  h5 {
    font-size: 1em;
  }
}

h6 {
  font-size: 1.125em;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin: 0 0 0.5em 0;
}

@media (max-width: 576px) {
  h6 {
    font-size: 1em;
  }
}

p {
  font-size: 1.25em;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0 0 1.5em 0;
  color: #fff;
  line-height: 1.5;
}

@media (max-width: 767px) {
  p {
    font-size: 1.125em;
  }
}

@media (max-width: 576px) {
  p {
    font-size: 1em;
  }
}

@media (max-width: 375px) {
  p {
    font-size: 0.8em;
  }
}

p.s-font {
  font-size: 1.125em;
}

@media (max-width: 576px) {
  p.s-font {
    font-size: 1em;
  }
}

p.xs-font {
  font-size: 0.875em;
  margin: 0 0 0.3125em 0;
}

@media (max-width: 576px) {
  p.xs-font {
    font-size: 0.75em;
  }
}

.line-heading {
  display: flex;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 576px) {
  .line-heading {
    padding-left: 1em;
  }
}
.rfm-marquee {
  flex:none !important;
min-width: auto !important;}

.line-heading .outline-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  text-transform: capitalize;
  word-break: break-word;
  font-size: 7em;
  font-family: sans-serif;
  font-weight: 700;
  z-index: 1;
}

@media (max-width: 1024px) {
  .line-heading .outline-text {
    font-size: 5em;
  }
}

@media (max-width: 991px) {
  .line-heading .outline-text {
    font-size: 4em;
  }
}

@media (max-width: 576px) {
  .line-heading .outline-text {
    font-size: 2em;
  }
}

@media (max-width: 375px) {
  .line-heading .outline-text {
    font-size: 1.5em;
  }
}

.line-heading .outline-text.primary-color {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #e3204a;
}

.line-heading .outline-text.center-txt {
  margin: 0 auto;
}

.generic--head__subhead.left-element {
  position: relative;
  padding: 0 0 0 2.8125em;
}

.generic--head__subhead.left-element::before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1px;
  left: 0;
  top: 0.66em;
  background: #fff;
}

@media (max-width: 576px) {
  .generic--head__subhead.left-element {
    padding: 0;
    letter-spacing: 0 !important;
  }

  .generic--head__subhead.left-element::before {
    content: normal;
  }
}

.generic--head__subhead.left-element.primary-col::before {
  background: #e3204a;
}

.generic--head.center-head {
  text-align: center;
  margin: 0 auto;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.letter-spacing {
  letter-spacing: -0.045em;
}

.animate {
  opacity: 0;
}

.animate.fadein-Left {
  transform: translate(50px, 0);
}

.animate.fadein-Right {
  transform: translate(-50px, 0);
}

.animate.fadein-Up {
  transform: translate(0, 50px);
}

.animate.fadein-Up-Fast {
  transform: translate(0, 50px);
}

.animate.fadein-Down {
  transform: translate(0, -50px);
}

@media (max-width: 576px) {
  .animate {
    opacity: 1;
  }

  .animate.fadein-Left {
    transform: translate(0, 0);
  }

  .animate.fadein-Right {
    transform: translate(0, 0);
  }

  .animate.fadein-Up {
    transform: translate(0, 0);
  }

  .animate.fadein-Up-Fast {
    transform: translate(0, 0);
  }

  .animate.fadein-Down {
    transform: translate(0, 0);
  }
}

@keyframes anim {
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.lazy-img {
  opacity: 0;
}

.twocol-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.twocol-row.justify-space {
  justify-content: space-between;
}

.twocol-row.align-center {
  align-items: center;
}

.footer {
  position: relative;
  background: #111;
}

@media (max-width: 576px) {
  .footer {
    padding: 3em 0 0 0;
  }
}

.footer .line-heading .outline-text {
  /* margin: 1em 0 0.5em 0; */
}

@media (max-width: 576px) {
  .footer .line-heading .outline-text {
    margin: 0 0 0.5em 0;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: unset;
  }
}

.footer ul {
  margin: 0;
  list-style: none;
}

.footer__container {
  padding: 0;
}

.footer__bg {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f1c40f;
  z-index: -1;
}

@media (max-width: 991px) {
  .footer__bg {
    width: 0;
  }
}

.footer__top {
  position: relative;
  /* padding: 0 0 2.5em 0; */
  z-index: 1;
}

@media (max-width: 991px) {
  .footer__top {
    padding: 3em 0;
  }
}

@media (max-width: 576px) {
  .footer__top {
    padding: 2em 0;
  }
}

.footer__top--qlinks-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .footer__top--qlinks-wrapper {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .footer__top--qlinks-wrapper {
    display: block;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 0;
  }
}

.footer__top--qlinks-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding: 0 8.5em 0 9%;
}

@media (max-width: 1199px) {
  .footer__top--qlinks-col:nth-child(1) {
    padding: 0 2em;
  }
}

@media (max-width: 991px) {
  .footer__top--qlinks-col:nth-child(1) {
    width: 100%;
    padding: 0 5em;
  }
}

@media (max-width: 767px) {
  .footer__top--qlinks-col:nth-child(1) {
    padding: 0 3em;
  }
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(1) {
    align-items: center;
    padding: 0 1em;
  }
}

.footer__top--qlinks-col:nth-child(1) .left-descrip h2 {
  font-size: 2.5em;
  font-weight: 300;
}

@media (max-width: 1199px) {
  .footer__top--qlinks-col:nth-child(1) .left-descrip h2 {
    font-size: 2.25em;
  }
}

@media (max-width: 767px) {
  .footer__top--qlinks-col:nth-child(1) .left-descrip h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 375px) {
  .footer__top--qlinks-col:nth-child(1) .left-descrip h2 {
    font-size: 1.5em;
  }
}

.footer__top--qlinks-col:nth-child(1) .left-descrip h2 span {
  display: block;
  font-weight: 600;
}

.footer__top--qlinks-col:nth-child(1) .left-descrip p {
  font-size: 1em;
}

.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 7em;
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(1) .contact-info-wrapper {
    padding: 0;
  }
}

.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper::before {
  content: "";
  position: absolute;
  width: 5em;
  height: 2px;
  background-color: #fff;
  top: 1em;
  left: 0;
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(1) .contact-info-wrapper::before {
    width: 0;
  }
}
.start{
  border: 1px solid #F1C40F;
    padding: 1rem;
    background-color: #F1C40F;;
    text-align: center;
    font-size: 26px;
}

.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper .address {
  margin: 0 0 0.5em 0;
}

.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper .mail a,
.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper .num a {
  color: #fff;
  line-height: 1.5;
}

.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper .mail {
  margin: 0 0 0.5em 0;
}

.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper a,
.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper p {
  font-size: 1em;
}

.footer__top--qlinks-col:nth-child(1) .contact-info-wrapper .icon-wrapper {
  display: flex;
}

.footer__top--qlinks-col:nth-child(1)
  .contact-info-wrapper
  .icon-wrapper
  .icon {
  position: relative;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer__top--qlinks-col:nth-child(1)
  .contact-info-wrapper
  .icon-wrapper
  .icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #e3204a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: 0.4s;
}

.footer__top--qlinks-col:nth-child(1)
  .contact-info-wrapper
  .icon-wrapper
  .icon
  img {
  width: 45%;
  height: 45%;
}

.footer__top--qlinks-col:nth-child(1)
  .contact-info-wrapper
  .icon-wrapper
  .icon:hover::before {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.4s;
}

.footer__top--qlinks-col:nth-child(2) {
  width: 55%;
  padding: 0 9% 0 5em;
}

@media (max-width: 1199px) {
  .footer__top--qlinks-col:nth-child(2) {
    padding: 0 2em;
  }
}

@media (max-width: 991px) {
  .footer__top--qlinks-col:nth-child(2) {
    width: 100%;
    padding: 0 5em;
  }
}

@media (max-width: 767px) {
  .footer__top--qlinks-col:nth-child(2) {
    padding: 0 3em;
  }
}

.footer__top--qlinks-col:nth-child(2) .qlinks__col__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: 2.0625em 0 0 0;
}

@media (max-width: 1024px) {
  .footer__top--qlinks-col:nth-child(2) .qlinks__col__wrapper {
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(2) .qlinks__col__wrapper {
    flex-wrap: wrap;
  }
}

.footer__top--qlinks-col:nth-child(2) .qlinks__col__wrapper .qlinks__col__item {
  width: max-content;
  padding-right: 4em;
}

@media (max-width: 1024px) {
  .footer__top--qlinks-col:nth-child(2)
    .qlinks__col__wrapper
    .qlinks__col__item {
    padding-right: 1.5em;
  }
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(2)
    .qlinks__col__wrapper
    .qlinks__col__item {
    width: 100%;
  }
}

.footer__top--qlinks-col:nth-child(2)
  .qlinks__col__wrapper
  .qlinks__col__item
  .qlinks-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(2)
    .qlinks__col__wrapper
    .qlinks__col__item
    .qlinks-menu {
    padding: 0 0 1em 2em;
    display: none;
  }
}

.footer__top--qlinks-col:nth-child(2)
  .qlinks__col__wrapper
  .qlinks__col__item
  .qlinks-menu__item {
  margin: 0 0 1em 0;
}

@media (max-width: 991px) {
  .footer__top--qlinks-col:nth-child(2)
    .qlinks__col__wrapper
    .qlinks__col__item
    .qlinks-menu__item {
    margin: 0 0 1.5em 0;
  }
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(2)
    .qlinks__col__wrapper
    .qlinks__col__item
    .qlinks-menu__item {
    width: 100%;
    margin: 0 0 1em 0;
  }
}

.footer__top--qlinks-col:nth-child(2)
  .qlinks__col__wrapper
  .qlinks__col__item
  .qlinks-menu__item.phone {
  margin-bottom: 1em;
}

.footer__top--qlinks-col:nth-child(2)
  .qlinks__col__wrapper
  .qlinks__col__item
  .qlinks-menu__item.address {
  width: 80%;
}

@media (max-width: 991px) {
  .footer__top--qlinks-col:nth-child(2)
    .qlinks__col__wrapper
    .qlinks__col__item
    .qlinks-menu__item.address {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .footer__top--qlinks-col:nth-child(2)
    .qlinks__col__wrapper
    .qlinks__col__item:last-child
    .qlinks-menu__item {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(2)
    .qlinks__col__wrapper
    .qlinks__col__item:last-child
    .qlinks-menu__item {
    padding: 0 1em 0 0;
  }
}

.footer__top--qlinks-col:nth-child(2) p {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  position: relative;
  display: block;
  padding: 0 0 0 0.625em;
  margin-bottom: 1.75em;
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(2) p {
    display: inline-block;
  }
}

.footer__top--qlinks-col:nth-child(2) p::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(2) p::after,
  .footer__top--qlinks-col:nth-child(2) p::before {
    position: absolute;
    background-color: #e3204a;
    left: 0;
    top: 50%;
    width: 2px;
    height: 1em;
    transition: all 0.5s ease-in-out;
  }

  .footer__top--qlinks-col:nth-child(2) p::before {
    top: 0.25em;
    left: 0.45em;
  }

  .footer__top--qlinks-col:nth-child(2) p:after {
    left: 0;
    width: 1em;
    height: 2px;
    transform: translate(0, -50%);
  }
}

.footer__top--qlinks-col:nth-child(2) a {
  color: #fff;
  font-size: 0.875em;
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 576px) {
  .footer__top--qlinks-col:nth-child(2) {
    padding: 0 1em;
  }

  .footer__top--qlinks-col:nth-child(2) p {
    font-size: 1em;
    line-height: 1.5;
    padding-left: 2em;
    margin-bottom: 1em;
  }

  .footer__top--qlinks-col:nth-child(2) p::after,
  .footer__top--qlinks-col:nth-child(2) p::before {
    content: "";
  }

  .footer__top--qlinks-col:nth-child(2) p.opened::before {
    transform: rotate(90deg);
  }

  .footer__top--qlinks-col:nth-child(2) p.opened::after {
    transform: rotate(90deg);
    opacity: 0;
  }
}

.qlinks-menu {
  padding: 0;
}

@media (max-width: 576px) {
  .qlinks-menu {
    padding: 0 0 1em 2em;
    display: none;
  }
}

.qlinks-menu__item {
  font-size: 1em;
  font-weight: 400;
  padding: 0 1em 0 0;
  margin-bottom: 1.5em;
}

@media (max-width: 991px) {
  .qlinks-menu__item {
    padding: 0 2em 0 0;
  }
}

@media (max-width: 576px) {
  .qlinks-menu__item {
    padding: 0 1em 0 0;
  }
}

.qlinks-menu__item:last-child {
  margin-bottom: 0;
}

.footer__bottom {
  position: relative;
}

.copy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5625em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 576px) {
  .copy-wrapper {
    align-items: center;
    padding: 1.5em 1em 1.5em 1em;
  }
}

.copy-wrapper .vline {
  padding: 0 1em;
}

.copy-wrapper p {
  color: #fff;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 576px) {
  .copy-wrapper p {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .copy-wrapper {
    flex-flow: column;
  }
}

.footer-new {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #252525;
}

.footer-new .generic-panel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-new .generic-panel__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-new .generic-panel__wrapper .h6 {
  font-weight: 300;
  line-height: 1.15em;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  margin-bottom: 0.31em;
  font-size: 3.35em;
}

@media (max-width: 991px) {
  .footer-new .generic-panel__wrapper .h6 {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .footer-new .generic-panel__wrapper .h6 {
    font-size: 1.5em;
  }
}

.footer-new .generic-panel__wrapper .h6 b,
.footer-new .generic-panel__wrapper .h6 strong {
  font-weight: 600;
}

.footer-new .generic-panel__wrapper p {
  font-weight: 300;
  font-size: 1.24em;
  line-height: 100%;
  margin: 0;
}

.footer-new .generic-panel__wrapper.txt-white {
  color: #fff;
}

.footer-new__top {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .footer-new__top::before {
    content: "";
    background: #e3204a;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .footer-new__top::after {
    content: "";
    background: #3f3f3f;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
}

.footer-new__top-wrapper {
  width: 100%;
  position: relative;
}

@media (max-width: 991px) {
  .footer-new__top-wrapper {
    z-index: 2;
  }
}

@media (min-width: 992px) {
  .footer-new__top-wrapper {
    z-index: 1;
  }
}

@media (max-width: 991px) {
  .footer-new__top-wrapper .container {
    padding: 0;
  }
}

.footer-new__top .custom-row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .footer-new__top .col-50 {
    padding: 0;
  }
}

.footer-new__top .col-50:nth-child(1) .top-inner-wrapper {
  padding: 2em;
}

@media (min-width: 576px) {
  .footer-new__top .col-50:nth-child(1) .top-inner-wrapper {
    padding: 3em;
  }
}

@media (min-width: 992px) {
  .footer-new__top .col-50:nth-child(1) .top-inner-wrapper {
    padding: 3em 2em 3em 0;
  }
}

@media (min-width: 1100px) {
  .footer-new__top .col-50:nth-child(1) .top-inner-wrapper {
    padding: 7.6875em 0 7.0625em 0;
  }
}

@media (max-width: 991px) {
  .footer-new__top .col-50:nth-child(1) .top-inner-wrapper {
    background: #e3204a;
    width: 100%;
  }
}

.footer-new__top .col-50:nth-child(2) .top-inner-wrapper {
  padding: 2em;
}

@media (min-width: 576px) {
  .footer-new__top .col-50:nth-child(2) .top-inner-wrapper {
    padding: 3em;
  }
}

@media (min-width: 992px) {
  .footer-new__top .col-50:nth-child(2) .top-inner-wrapper {
    padding: 3em 0 3em 3em;
  }
}

@media (min-width: 1100px) {
  .footer-new__top .col-50:nth-child(2) .top-inner-wrapper {
    padding: 7.6875em 0 7.0625em 7.125em;
  }
}

@media (max-width: 991px) {
  .footer-new__top .col-50:nth-child(2) .top-inner-wrapper {
    background: #3f3f3f;
    width: 100%;
  }
}

.footer-new__top .top-inner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 991px) {
  .footer-new__top .top-inner-wrapper {
    padding: 3em 0;
  }
}

@media (min-width: 1100px) {
  .footer-new__top .top-inner-wrapper {
    padding: 7.74em 2em 2.8em 0;
  }
}

@media (min-width: 992px) {
  .footer-new__top .top-inner-wrapper.left-space {
    padding-left: 7.06em;
  }
}

.footer-new__top .company-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2.91em;
}

.footer-new__top .company-info ul {
  position: relative;
}

@media (min-width: 576px) {
  .footer-new__top .company-info ul {
    font-size: 1.125em;
  }
}

@media (max-width: 768px) {
  .footer-new__top .company-info ul {
    padding-right: 1em;
  }
}

@media (min-width: 1100px) {
  .footer-new__top .company-info ul {
    padding-left: 5em;
    padding-right: 2em;
  }
}

.footer-new__top .company-info ul::before {
  content: " ";
  background: #fff;
  width: 1.5625em;
  height: 2px;
  position: absolute;
  top: 0.5em;
  left: 0;
}

@media (min-width: 1100px) {
  .footer-new__top .company-info ul::before {
    width: 3.125em;
  }
}

.footer-new__top .company-info ul li {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  color: #fff;
  margin-bottom: 1em;
}

@media (min-width: 1100px) {
  .footer-new__top .company-info ul li {
    font-size: 1em;
    margin-bottom: 1.66em;
  }
}

.footer-new__top .company-info ul li::last-child,
.footer-new__top .company-info ul li::only-child {
  margin-bottom: 0;
}

.footer-new__top .form-box {
  margin: 2.48em 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-new__top .form-box form {
  width: 100%;
}

.footer-new__top .form-box .col-50:nth-child(odd) .input-container {
  justify-content: flex-start;
  padding-right: 0.31em;
}

.footer-new__top .form-box .col-50:nth-child(even) .input-container {
  justify-content: flex-end;
  padding-left: 0.31em;
}

.footer-new__top .form-box .input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin: 0 0 2em 0;
}

.footer-new__top .form-box .input-container label {
  font-weight: 400;
  font-size: 0.99em;
  line-height: 0.875em;
  color: #fff;
  margin-bottom: 0.625em;
  position: unset;
  transform-origin: unset;
}

.footer-new__top .form-box .input-container label.error {
  text-indent: unset !important;
  position: unset;
  margin-top: 0.5em;
}

.footer-new__top .form-box .input-container input {
  background: rgba(217, 217, 217, 0.2);
  font-size: 1.115em;
  line-height: 2.77em;
  letter-spacing: -0.02em;
  color: #fff;
  font-weight: 500;
  height: 2.77em;
  padding: 0 1.19em;
  border: 2px solid rgba(217, 217, 217, 0);
  transition: 0.5s ease;
  border-radius: 0;
}

.footer-new__top .form-box .input-container input::placeholder {
  opacity: 1;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s ease;
}

.footer-new__top .form-box .input-container input:focus {
  border: 2px solid #e3204a;
  background: #d9d9d9;
  color: #363636;
}

.footer-new__top .form-box .input-container input:focus::placeholder {
  color: #363636;
}

.footer-new__top .form-box .input-container input.error {
  position: unset;
}

.footer-new__top .form-box .anchor-wrapper .arrow-anchor span {
  font-weight: 700;
  font-size: 1.35em;
  line-height: 100%;
}

@media (min-width: 1100px) {
  .footer-new__top .form-box .anchor-wrapper .arrow-anchor .img-wrapper {
    width: 4.5em;
    height: 4.5em;
  }
}

.footer-new__top .form-box .anchor-wrapper .arrow-anchor .img-wrapper svg {
  width: 1.75em;
}

.footer-new__bottom {
  width: 100%;
}

.footer-new__bottom-wrapper {
  width: 100%;
  background: #252525;
  padding: 2em 0;
}

@media (min-width: 576px) {
  .footer-new__bottom-wrapper {
    padding: 3em 0;
  }
}

@media (min-width: 1100px) {
  .footer-new__bottom-wrapper {
    padding: 9.25em 0 3.625em;
  }
}

@media (max-width: 576px) {
  .footer-new__bottom-wrapper .container {
    padding: 0 2em;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .footer-new__bottom-wrapper .col-25 {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .footer-new__bottom-wrapper .col-25:nth-child(3) .footer__top--qlinks-col {
    padding-top: 3em;
  }
}

.footer-new__bottom .qlinks-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
  font-size: 1.115em;
  line-height: 100%;
  color: #fff;
  position: relative;
  padding-left: 0.61em;
  margin-bottom: 1em;
  height: 1.22em;
}

@media (min-width: 576px) {
  .footer-new__bottom .qlinks-heading::before {
    content: "";
    width: 1px;
    height: 1.22em;
    background-color: #e3204a;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (max-width: 576px) {
  .footer-new__bottom .qlinks-heading {
    padding-left: 1.5625em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  .footer-new__bottom .qlinks-heading::after,
  .footer-new__bottom .qlinks-heading::before {
    content: "";
  }
}

@media (max-width: 576px) {
  .footer-new__bottom .qlinks-heading::after,
  .footer-new__bottom .qlinks-heading::before {
    position: absolute;
    background-color: #e3204a;
    left: 0;
    top: 50%;
    width: 2px;
    height: 1em;
    transition: all 0.5s ease-in-out;
  }

  .footer-new__bottom .qlinks-heading::before {
    top: 0.15em;
    left: 0.45em;
  }

  .footer-new__bottom .qlinks-heading:after {
    left: 0;
    width: 1em;
    height: 2px;
    transform: translate(0, -50%);
  }
}

@media (max-width: 576px) {
  .footer-new__bottom .qlinks-heading.opened::before {
    transform: rotate(90deg);
  }

  .footer-new__bottom .qlinks-heading.opened::after {
    transform: rotate(90deg);
    opacity: 0;
  }
}

.footer-new__bottom .qlinks-menu__item {
  line-height: normal;
  margin-bottom: 0;
}

.footer-new__bottom .qlinks-menu__item a {
  line-height: 233.5%;
  margin-bottom: 0;
}

.footer-new .custom-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-new .footer-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 992px) {
  .footer-new .footer-box-wrapper {
    justify-content: flex-end;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .footer-new .footer-box-wrapper {
    padding-top: 3em;
  }
}

.footer-new .footer-box-wrapper.align-right {
  height: 100%;
}

@media (min-width: 992px) {
  .footer-new .footer-box-wrapper.align-right {
    align-items: flex-end;
  }
}

@media (min-width: 992px) {
  .footer-new .footer-box-wrapper.align-right .qlinks-heading::before {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 576px) {
  .footer-new .footer-box-wrapper.align-right .qlinks-heading::after {
    display: none;
    visibility: hidden;
  }
}

.footer-new .footer-box-wrapper.align-right .qlinks-menu {
  margin-top: auto;
  padding-top: 2em;
  padding-bottom: 0;
}

@media (max-width: 576px) {
  .footer-new .footer-box-wrapper.align-right .qlinks-menu {
    display: block;
    padding-left: 0;
    padding-top: 1em;
  }
}

.footer-new .footer-box-wrapper.align-right .qlinks-menu li {
  display: flex;
  padding-right: 0;
  margin-bottom: 1.44em;
}

@media (min-width: 992px) {
  .footer-new .footer-box-wrapper.align-right .qlinks-menu li {
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .footer-new .footer-box-wrapper.align-right .qlinks-menu li {
    justify-content: flex-end;
    text-align: right;
  }
}

.footer-new .footer-box-wrapper.align-right .qlinks-menu li a {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
}

.footer-new .footer-box-wrapper.align-right .qlinks-menu li p {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 0;
}

.footer-new .footer-box-wrapper.align-right .qlinks-menu li:last-child,
.footer-new .footer-box-wrapper.align-right .qlinks-menu li:only-child {
  margin-bottom: 0;
}

.footer-new .footer-box-wrapper .qlinks-menu li:last-child {
  margin-bottom: 0;
}

.footer-new .icon-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-new .icon-wrapper .icon {
  position: relative;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer-new .icon-wrapper .icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #e3204a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: 0.4s;
}

.footer-new .icon-wrapper .icon:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.footer-new .icon-wrapper .icon img {
  width: 45%;
  height: 45%;
}

@media (min-width: 576px) {
  .footer-new .footer__top--qlinks-col {
    width: 100%;
    flex-direction: unset;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .footer-new .footer__top--qlinks-col {
    align-items: unset;
    padding: 0;
  }
}

@media (min-width: 576px) {
  .footer-new .qlinks__col__wrapper {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .footer-new .qlinks__col__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
